.cube{
    width: 250px;
    height: 250px;
    background-color: red;
    transition-property: width,height;
    transition-duration: 5s;
}

.cube:hover{
    width: 500px;
    height: 500px;
    background-color: yellow;
    transition-property: width,height,background-color;
    transition-duration: 5s;
}

.train{
    width: 300px;
    height: 250px;
    object-fit: contain;
    transition-duration: 5s;
}

.train:hover{
    margin-left: 500px;
    transition-property:margin-left;
    transition-duration: 5s;
}

.plane{
    width: 300px;
    height: 250px;
    object-fit: contain;
    transition-duration: 10s;
}

.plane:hover{
    animation-name: plane;
    animation-duration: 10s;
}
@keyframes plane{
    0%{
        width: 350px;
        height: 300px;
    }
    10%{
        width: 500pxpx;
        height: 450pxpx;
    }
    40%{
        width: 600px;
        height: 550px;
    }
    50%{
        width: 500px;
        height: 450px;
    }

    60%{
        width: 500px;
        height: 450px;
        animation-play-state: paused;
    }

    80%{
        
        width: 400px;
        height: 350px;
    }
    90%{
        width: 300px;
        height: 250px;
    }

    95%{
        width: 0px;
        height: 0px;
    }

    100%{
        
        width: 300px;
        height: 250px;
    }
}

.btn{
    width: 300px;
    height:100px;
    border: none;
    background-color: yellow;
    padding: 20px;
    margin-left: 70px;
    font-size: 20px;
}

.btn:hover{
    background-color: green;
    color: white;

}

.hiddenblock{
    width: 50px;
    height: 100px;
    background-color: gray;
    margin-left: -10px;
    transition-property: width,height;
    transition-duration: 1s;
}

.hiddenblock p{
    display: none;
}

.hiddenblock:hover{
    width: 300px;
    height: 100px;
    transition-duration: 1s;
    margin-left: 0;
    transition-property: width,height,margin-left;

}

.hiddenblock:hover p{
    display: block;
    position: relative;
    top: 40%;
    left: 45%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    
}


.walkingcube{
    width: 250px;
    height: 250px;
    background-color: red;
    animation-name: walking;
    position: relative;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}

@keyframes walking {
    0%{
        background-color: red;
        top: 0;
        left: 0;
    }
    25%{
        background-color: green;
        top: 0;
        left: 300px;
    }

    50%{
        background-color: green;
        top: 300px;
        left: 300px;
    }

    75%{
        background-color: blue;
        left: 0;
        top: 300px;

    }
    100%{
        background-color: red;
        left: 0;
        top: 0;
   }

}

.form input{
    display: inline-block;
    margin-top: 100px;
    width: 500px;
    height: 70px;
    border: 1px solid gray;
    font-size: 35px;
}
.form p{
    width: 300px;
    height: 60px;
    background-color: yellow;
    margin-bottom: 200px;
    transition-duration: 1s;
    transform: scale(0);
}

.form input:focus{
    border: 3px solid goldenrod;
    outline: black;
}
.form input:focus + p{
    transform: scale(1.5);
    transition-property: transform;
    transition-duration: 1s;
    margin-left: 100px;
    border-radius: 20px;
}
